/* your styles will go here!! */
h1 {
    font-family: Monoton;
    font-size: 100px;
}
img {
    max-width: 500px;
}
/* Image #2! */
img {
    max-width: 300px;
    max-height: 200px;
}
/* Image #3! */
img {
max-width: 200px;
}
/* Image #4! */
img {
    max-width: 500px;
}
p {
    text-align: left;
}