/* your styles will go here!! */
h1 {
    font-family: Monoton;
    font-size: 120px;
    color: #ffffff;
    position: static;
    margin: 50px;
}
/* tagline */
h2 {
    font-family: Josefin Sans;
    font-size: 70px;
    color: #ffffff;
    position: relative;
    bottom: 50px;
    margin: 50px;
}
body {
    background-color: #FF6666;
}
/* home pg */
.img1 {
    border-radius: 50%;
}
.img2 {
    border-radius: 17px;
    max-height: 200px;
    height: 70%;
}
.img3 {
    max-width: 1060px;
    width: 50%;
}
.img 4 {
  
}
.flexbox1 {
    display: flex;
    flex-direction: row;
}
.flexbox2 {
    display: flex;
    flex-direction: row;
}
p {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 24px;
    color: #ffffff;
    width: 475px;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    font-family: Josefin Sans;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 100px;
    margin: 50px;   
}
footer {
}
.square {
    width: 616px;
    height: 800px;
    background: #DB4B4B;
  }
 