body {
    display: flex;
    flex-direction: column;
    align-items: center;
}



h1 {
    font-family: Monoton;
    font-size: 48px;
    color: #ffffff;
    position: static;
    margin: 30px;
    font-weight: 200;
}

h2 {
    font-family: Josefin Sans;
    font-size: 40px;
    color: #ffffff;
    margin: 50px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}
body {
    background-color: #FF6666;
    font-weight: 300;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
}

.img {
    height: auto;
    width: 20%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}
nav a {
    font-family: Josefin Sans;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    margin: 50px;   
}

main {
    padding: 130px 20px 0;
}

.square {
    background: #DB4B4B;
    padding: 30px;
    margin: 20px 0;
    border-radius: 20px;
    font-family: Josefin Sans;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

 .square h3 {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 0;
 } 

 .square p {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    max-width: 475px;
    min-width: 250px;
    margin-bottom: -10px;
}

    .columns {
    display: flex;
    gap: 35px;
    align-items: center;
    flex-direction: column;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .col iframe {
        width: 70vw;
        height:20vh;
    }

    .col img {
        width: 70vw;
        border-radius: 5%;
        margin-bottom: 15px;
    }

    footer {
        font-family: Josefin Sans;
        color:#ffffff;
    }

  /*home*/

  #image-grid {
    width: 100%;
  }

  .home-wrap {
    flex-wrap: wrap;
    
}

.lines {
    padding: 50px;
    border-top: 10px double #ffffff;
    border-bottom: 10px double #ffffff;
    border-right: 0;
    border-left: 0;
    display: flex;
    align-items: center;
}

.slogan {
    font-size: 25px;
    text-align: left;
    margin-left: 0px;
}



/*News*/

.news .square {
    width: 70vw;
}

.italic {
    font-style: italic;
}

li {
    font-size: 20px;
}

/*Workouts*/

/*Stretches*/

a:-webkit-any-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    transition: underline 3s;
    
}

.link:hover {
    text-decoration: underline;
    
}


 /* media queries */

 @media (min-width: 1050px) {
    .home-wrap {
        flex-wrap: nowrap;
        align-items: stretch;
    }
    .lines {
        border-top: 0;
        border-bottom: 0;
        border-right: 10px double #ffffff;
        border-left: 10px double #ffffff;
    }

    main {
        padding: 70px 50px 0;
    }

    .columns {
        flex-direction: row;
        }
    
        .col iframe {
            width: 40vw;
            height: 27vw;
        }

        .col img {
            width: 30vw;
        }

 }

 